@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
body {
  font-size: 25px;
}
table{
    font-size: 15px;
}
h1 {
  font-weight: 700;
  font-size: 70px;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.parent > .row {
  margin: 10px 0;
}